@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

.header-mobile {
  display: none;
}

.footer-mobile {
  display: none;
}

ion-icon {
  width: 20px;
  height: 20px;
}

.content ion-icon:hover,
.icons ion-icon:hover {
  cursor: pointer;
  color: gray;
}

.header {
  height: 54px;
  width: 100vw;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 10;
}

.topo {
  display: flex;
  justify-content: space-between;
  width: 934px;
  margin: 0 auto;
}

.logo {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo :first-child {
  height: 20px;
  width: 20px;
}

.logo div {
  height: 22px;
  width: 1px;
  background-color: #dbdbdb;
}

.logo img {
  width: 103px;
  height: 29px;
  margin-top: 7px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 28px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-top: 4px;
}

.search p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #979797;
}

.icons {
  width: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  width: 935px;
  margin: 88px auto 0 auto;
}

.timeline {
  display: flex;
  flex-direction: column;
  width: 614px;
  margin-right: 28px;
}

.stories-box {
  background-color: #ffffff;
  position: relative;
  width: 614px;
  height: 118px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 18px;
  margin-bottom: 24px;
}

.moldura {
  position: relative;
  width: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1px;
}

.moldura :first-child {
  width: 66px;
  height: 66px;
}

.moldura :nth-child(2) {
  position: absolute;
  z-index: 1;
}

.stories-box > div:hover {
  filter: brightness(1.3);
  cursor: pointer;
}

.stories-box p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: center;
}

.stories-box > img {
  z-index: 3;
  position: absolute;
  right: 8px;
  box-shadow: -1px 4px 8px 3px rgba(100, 100, 100, 0.5);
  border-radius: 50px;
}

.photos {
  display: flex;
  flex-direction: column;
  margin-right: 28px;
}

.post {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 614px;
  height: 880px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 0px auto 60px auto;
}

.post-title {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 17px;
}

.post-title div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
}

.post-title img {
  height: 32px;
  width: 32px;
}

.post-image img {
  height: 612px;
  width: 612px;
}

.post-reactions {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
}

.post-likes {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 0 15px;
}

.post-likes img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.post p {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.41px;
}

.post strong {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
}

.post-comments {
  display: flex;
  flex-direction: column;
}

.post-comments > p {
  color: gray;
  margin-bottom: 6px;
  margin-left: 15px;
}

.comment {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.post-comments ion-icon {
  height: 25px;
  width: 25px;
}

.comment ion-icon {
  height: 15px;
  width: 15px;
}

.post-comments :nth-child(3) {
  margin-top: 5px;
  font-size: 10px;
}

.post-comments :nth-child(4) {
  height: 50px;
  width: 100%;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px 15px;
}

input {
  border: 0;
}

.publish {
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  font-size: 14px;
  color: #b2dffc;
  border: 0;
  background-color: #ffffff;
  height: 30px;
  width: 100px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  color: #0095f6;
  transition: 300ms;
}

.sidebar {
  width: 293px;
  height: 470px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  position: sticky;
  top: 90px;
  right: 0;
}

.principal {
  display: flex;
  height: 56px;
}

.principal div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.principal p {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.41px;
  color: #8e8e8e;
}

.principal strong {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  color: black;
}

.suggestions {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 18px;
}

.suggestions :first-child {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  color: #8e8e8e;
}

.suggestions :nth-child(2) {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  color: black;
}

.perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.perfil :first-child {
  display: flex;
}

.perfil img {
  margin-right: 10px;
}

.perfil p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  color: #8e8e8e;
}

.perfil strong {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  color: black;
  margin-bottom: 6px;
}

strong:hover,
em:hover {
  cursor: pointer;
}

.perfil em {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  color: #139ef2;
}

.footer {
  margin-top: 15px;
  font-size: 11px;
  font-weight: 400;
  line-height: 12.89px;
  color: #c7c7c7;
  width: 300px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 935px) {
  .content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .topo {
    margin: 0 26px;
  }

  .sidebar {
    display: none;
  }

  .timeline {
    margin: 0 auto;
  }
}

@media (max-width: 614px) {
  .header {
    display: none;
  }

  .header-mobile {
    height: 54px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 10;
  }

  .content {
    width: 100%;
    margin: 50px auto 0 auto;
  }

  .stories-box {
    width: 100%;
    background-color: #fafafa;
    border: 0 solid #dbdbdb;
    padding-left: 18px;
    margin-bottom: 0;
  }

  .moldura :first-child {
    border-radius: 50px;
  }

  #vetor {
    display: none;
  }

  .photos {
    width: 100%;
  }

  .post {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 0;
    margin: 0 auto 60px auto;
  }

  .footer-mobile {
    height: 54px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 10;
  }
}
